* {
margin: 0 auto;
padding: 0 auto;
box-sizing: border-box;
}

body{
  background-image: url("../images/img.jpeg");
  background-size: cover;
}

#container {
  margin-top: 3%;
  text-align: center;
  width:60%;
  background-color: rgba(255, 100, 0, 0.7);
  margin-bottom: 3%;


}

h1{
  margin-top: 10px;
  margin-bottom: 10px;
}

span {
  font-size: 20px;
}
h3{
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
  color: white;

}


p {
  display: inline-block;
  font-size: 20px;
  color: white;
}

input[type="submit"]{
  margin-top: 20px;
  background-color: red;
  border-radius: 10%;
  font-size: 20px;
  color: white;

}
